body{
    font-family: Arial, sans-serif;
    background-color: #AF7EEB;
}

.btn-add-task{
    background-color: blueviolet;
    margin-left: 10px;
}

.btn-add-task:hover{
    background-color:darkslateblue
}

.container{
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0.1);
}


